{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-12">
        <h1 class="text-primary text-center">My Daily Planner</h1>
    </div>
</div>
{% endblock %}